<%- include('./include/header') %>

<main>
    <h1>Perfil</h1>
    <p>O usuário poderá colocar foto, alterar a foto, alterar tema, alterar dados pessoais, e etc.</p>
    <br><br>
    <a href="/admin" class="btn">Página de Admin</a>
</main>

<%- include('./include/footer') %>
<%- include('./include/script') %>

</body>
</html>