.cardPesquisa {
    position: absolute;
    right: 0px;
}

.cardPesquisa label {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 34px;
    font-size: 26px;
    cursor: pointer;
    padding: 0px 15px 0px 15px;
    border-radius: 0px 5px 5px 0px;
    color: white;
    background-color: #57d8c3fc;
    transition: 0.5s all ease;
}

.cardPesquisa label:hover {
    background-color: #72e4d1fc;
}

.cardPesquisa input {
    height: 34px;
    width: 235px;
    padding: 3px 60px 3px 15px;
    font-size: 16px;
    font-weight: 600;
    background-color: #8aefdefc;
    color: rgba(49, 49, 49, 0.904);
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 3px #0000005c;
}

.cardPesquisa input:focus {
    outline: none;
}

.cardUsers {
    margin-top: 130px;
}

.cardUsers .users {
    margin-bottom: 30px;
    cursor: pointer;
}

.cardUsers .infoUser {
    visibility: hidden;
    height: 0px;
    transition: 0.2s all ease;
}

.infoUser.activeInfo {
    height: 78px;
    visibility: visible;
}

.bx-chevron-down {
    position: relative;
    top: 6px;
    margin-right: 10px;
    font-size: 34px;
    font-weight: 600;
    color: var(--cor-2);
    transition: all 0.3s ease;
}

.bx-chevron-down.active {
    transform: rotate(180deg);
}
