.darkMode {
    display: inline-block;
    position: absolute;
    bottom: 9px;
    left: 19px;
    font-size: 24px;
    cursor: pointer;
    padding: 1px 6px 0px 6px;
    border-radius: 50%;
    color: var(--body);
    background-color: rgba(128, 128, 128, 0.356);
    transition: 0.5s all ease;
    border: none;
}

.darkMode:hover {
    background-color: rgba(128, 128, 128, 0.425);
    color: rgba(0, 0, 0, 0.767);
}

.btnDark {
    position: absolute;
    bottom: 13px;
    left: 22px;
    height: 41px;
    width: 85px;
    border: 3px solid var(--cor-2);
    border-radius: 50px;
    background-color: black;
}

#exibirBtnTema {
    position: relative;
    top: 2px;
    left: 2px;
    width: 31px;
    height: 31px;
    background: white;
    border-radius: 50%;
    transition: 0.5s all ease;
    z-index: 1;
}

.btnDark button {
    border: none;
    border-radius: 5px;
    font-size: 24px;
    height: 30px;
    margin-left: 10px;
    margin-top: 2px;
    background-color: transparent;
    cursor: pointer;
}

.btnDark #btnTemaDark {
    position: absolute;
    bottom: 3px;
    right: 7px;
    margin-left: 4px;
    color: #c2c200;
}

.btnDark #btnTemaLight {
    position: absolute;
    bottom: 3px;
    left: -1px;
    color: #c2c200;
}