@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --cor-1: #f0f0f0;
    --cor-2: #13ccadf6;
    --cor-3: #167464f8;
    --cor-4: #0f553af8;
}

footer {
    background-color: var(--cor-4);
    width: 100%;
    height: 350px;
    position: relative;
    bottom: 0px;
    margin-top: 200px;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.footerConteudo {
    width: 80%;
    height: 100%;
    align-items: center;
    display: flex;
    position: relative;
    justify-content: center;
    margin: auto;
}

.footerDivEsquerda {
    position: relative;
    top: -10px;
    right: 135px;
    color: white;
}

.footerDivEsquerda span {
    font-size: 54px;
    position: relative;
    top: 16px;
    right: 6px;
}

.footerDivEsquerda h1 {
    color: var(--cor-2);
    margin-bottom: 10px;
}

.footerDivEsquerda h6 {
    position: absolute;
    top: 65px;
    left: 55px;
    color: rgba(253, 250, 250, 0.521);
}

.footerDivEsquerda p {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 5px;
    color: rgb(199, 199, 199);
}

.linhaVertical {
    position: relative;
    top: 8px;
    right: 78px;
    height: 160px;
    width: 1px;
    border: 1px solid #80808066;
}

.footerDivMeio {
    position: relative;
    right: 0px;
    top: 10px;
}

.footerDivMeio h4 {
    color: var(--cor-2);
    margin-bottom: 20px;
}

.footerDivMeio p {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 5px;
    color: rgb(199, 199, 199);
    cursor: pointer;
}

.footerDivMeio p:hover {
    text-decoration: underline;
}

.footerDivDireita {
    position: relative;
    left: 70px;
    width: 260px;
    height: 137px;
}

.footerDivDireita .bxl-github {
    position: absolute;
    top: 40px;
    left: 14px;
    font-size: 50px;
    color: #292929f3;
    transition: 0.3s all ease;
}

.footerDivDireita .bxl-github:hover {
    top: 23px;
    color: black;
}

.footerDivDireita .bxl-instagram {
    position: absolute;
    left: 105px;
    top: 40px;
    font-size: 50px;
    color: #292929f3;
    transition: 0.3s all ease;
}

.footerDivDireita .bxl-instagram:hover {
    top: 23px;
    color: rgb(185, 16, 72);
}

.footerDivDireita .bxl-whatsapp {
    position: absolute;
    right: 11px;
    top: 40px;
    font-size: 50px;
    color: #292929f3;
    transition: 0.3s all ease;
}

.footerDivDireita .bxl-whatsapp:hover {
    top: 23px;
    color: rgb(31, 182, 31);
}

.footerDivDireita .labelIcone {
    position: absolute;
    top: -13px;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    padding: 3px 7px;
    border-radius: 6px;
    color: rgba(255, 255, 255, 0.507);
    background-color: rgba(0, 0, 0, 0.541);
    transition: 0.5s all ease;
}

.footerDivDireita a:nth-child(1) label {
    left: 10px;
    opacity: 0;
}

.footerDivDireita a:nth-child(1):hover label {
    opacity: 1;
}

.footerDivDireita a:nth-child(2) label {
    left: 88px;
    opacity: 0;
}

.footerDivDireita a:nth-child(2):hover label {
    opacity: 1;
}

.footerDivDireita a:nth-child(3) label {
    right: -4px;
    opacity: 0;
}

.footerDivDireita a:nth-child(3):hover label {
    opacity: 1;
}

.footerParedeIcones {
    position: relative;
    top: 62px;
    width: 100%;
    height: 73px;
    background-color: #15593f;
}

.footerParedeIcones hr {
    border: 1px solid var(--cor-2);
}

.footerDivBaixo hr {
    position: relative;
    top: 18px;
    border: 1px solid #80808066;
}

.footerDivBaixo {
    position: absolute;
    bottom: 25px;
    width: 80%;
    text-align: left;
    color: rgb(199, 199, 199);
    font-weight: 500;
    font-size: 12px;
}

.setaParaCima {
    position: absolute;
    top: -74px;
    left: 40px;
    opacity: 1;
}

.setaParaCima i {
    font-size: 35px;
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(15, 109, 65, 0.767);
    color: white;
    cursor: pointer;
    transition: 0.5s all ease;
}

.setaParaCima i:hover {
    background-color: rgba(15, 109, 65, 0.945);
}

.developer {
    width: 200px;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
}

footer h4 {
    text-align: center;
    margin-top: 5px;
    color: rgb(211, 211, 211);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}