@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --cor-1: #b9b9b9;
    --cor-2: #13ccad;
    --cor-3: #167464;
    --cor-4: #10806d;

}

header {
    background-image: linear-gradient(to bottom, var(--cor-1)70%, white);
    width: 100%;
    height: 130px;
    position: fixed;
    z-index: 1;
}

.logo {
    display: inline-block;
    width: 265px;
    margin: 20px 0px 0px 35px;
}

ul.nav {
    position: absolute;
    right: 45px;
    top: 35px;
    display: flex;
    margin: 0;
    padding: 0;
   
}

ul li {
    list-style: none;
    z-index: 2;
    text-align: center;
}

.bx-customize {
    position: absolute;
    right: 70px;
    bottom: 0px;
    font-size: 25px;
}

.bx-line-chart {
    position: absolute;
    right: 64px;
    bottom: 0px;
    font-size: 25px;
}

.bx-edit {
    position: absolute;
    right: 105px;
    bottom: 0px;
    font-size: 25px; 
}

.bx-user-pin {
    position: relative;
    top: 5px;
    font-size: 27px; 
}

ul li a {
    display: inline-block;
    position: relative;
    margin-left: 50px;
    padding-left: 10px;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: 600;
    color: var(--cor-3);
    transition: 0.5s;
}

ul li a:hover {
    color: var(--cor-2);
    transition: all .3s ease;
}

ul li.active a {
    color: var(--cor-2)
}

ul li h4.perfil {
    position: relative;
    bottom: 7px;
    display: block;
    margin-left: 17px;
    padding: 0px 0px 5px 10px;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: 600;
    color: var(--cor-3);
    transition: 0.5s;
}

ul li h4.perfil:hover {
    color: var(--cor-2);
    transition: all .3s ease;
    cursor: pointer;
}

ul li.activePerfil .underline {
    position: relative;
    bottom: 22px;
}

ul li.activePerfil h4.perfil {
    color: var(--cor-2);
}

.perfil.activePerfil {
    color: var(--cor-2);
}

ul li .underline::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    top: 28px;
    left: 0;
    z-index: 1;
    opacity: 0;
    background: linear-gradient(to right, var(--cor-1), var(--cor-2), var(--cor-2), var(--cor-1));
    transform: scale(1);
    transition: all .5s ease-in-out;
}

@keyframes delayNav{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

ul li:nth-child(1).active a .underline::before {
    left: -30px;
    width: 160%;
    opacity: 1;
    animation: 1s ease 0s normal forwards 1 delayNav;
}
ul li:nth-child(2).active a .underline::before {
    left: -27px;
    width: 160%;
    opacity: 1;
    animation: 1s ease 0s normal forwards 1 delayNav;
}
ul li:nth-child(3).active a .underline::before {
    left: -20px;
    width: 130%;
    opacity: 1;
    animation: 1s ease 0s normal forwards 1 delayNav;
}
ul li:nth-child(4).activePerfil h4.perfil .underline::before {
    left: -5px;
    width: 120%;
    opacity: 1;
    animation: 1s ease 0s normal forwards 1 delayNav;
}