@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --cor-1: #f0f0f0;
    --cor-2: #13ccad;
    --cor-3: #167464;
    --cor-4: #10806d;

}

header {
    background-image: linear-gradient(to bottom, var(--cor-1)90%, transparent);
    width: 100%;
    height: 90px;
}

.logo {
    display: inline-block;
    width: 265px;
    margin: 20px 0px 0px 35px;
}

ul.nav {
    position: absolute;
    right: 45px;
    top: 35px;
    display: flex;
    margin: 0;
    padding: 0;
   
}

ul li {
    list-style: none;
    z-index: 2;
    text-align: center;
}

ul li a {
    display: block;
    margin-left: 45px;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: 600;
    color: var(--cor-3);
    transition: 0.5s;
}

ul li a:hover {
    color: var(--cor-2);
    transition: all .3s ease;
}

ul li.active a {
    color: var(--cor-2)
}

ul li:nth-child(1) a {
    color: rgb(141, 1, 1);
}

ul li:nth-child(1).active a {
    color: rgb(212, 6, 6);
}

ul li:nth-child(1) a:hover {
    color: rgb(212, 6, 6);
}

ul li h4.perfil {
    display: block;
    margin-left: 45px;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: 600;
    color: var(--cor-3);
    transition: 0.5s;
}

ul li h4.perfil:hover {
    color: var(--cor-2);
    transition: all .3s ease;
    cursor: pointer;
}

ul li.activePerfil h4.perfil {
    color: var(--cor-2);
}

.perfil.activePerfil {
    color: var(--cor-2);
}

.config.activeConfig {
    position: absolute;
    right: 20px;
    top: 70px;
    opacity: 1;
    transition: 0.5s all ease;
}

.config {
    position: absolute;
    right: -250px;
    top: -20px;
    width: 200px;
    height: 300px;
    border-radius: 8px 0px 8px 0px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.233);
    z-index: 3;
    background-color: var(--cor-3);
    transition: 0.5s all ease;
    opacity: 0;
}

.config.activeConfig .bx-chevron-right {
    animation: 1s ease 0s normal forwards 1 delayNav;
}

.bx-chevron-right {
    position: relative;
    left: -40px;
    top: 5px;
    font-size: 30px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    background-color: rgba(31, 182, 94, 0.432);
    transition: 0.5s all ease;
}

.bx-chevron-right:hover {
    background-color: rgba(31, 182, 94, 0.89);
}

.config .imgPerfil {
    border-radius: 50%;
    width: 100%;
    display: inline-block;
}

.config .linkPerfil {
    position: absolute;
    top: 8px;
    padding: 8px 61px;
    border-radius: 8px 0px 0px 0px;
    background-color: transparent;
    text-decoration: none;
    transition: 0.5s all ease;
    color: white;
    font-weight: 700;
    text-align: center;
}

.config .linkPerfil:hover {
    color: rgba(24, 215, 240, 0.788);
}

.bx-palette {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 12px;
    color: white;
    font-size: 23px;
    transition: 0.5s all ease;
}

.config .linkTema {
    display: inline-block;
    position: relative;
    top: 120px;
    padding: 8px 83px 8px 61px;
    background-color: transparent;
    text-decoration: none;
    transition: 0.5s all ease;
    color: white;
    font-weight: 600;
}

.config .linkTema:hover {
    background-color: rgba(255, 255, 255, 0.123);
    color: rgb(212, 74, 143);
}

.linkTema:hover .bx-palette {
    color: rgb(212, 74, 143);
}

.bxs-megaphone {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 12px;
    color: white;
    font-size: 23px;
    transition: 0.5s all ease;
}

.config .feedback {
    display: inline-block;
    position: relative;
    top: 123px;
    padding: 8px 60px 8px 61px;
    background-color: transparent;
    text-decoration: none;
    transition: 0.5s all ease;
    color: white;
    font-weight: 600;
}

.config .feedback:hover {
    background-color: rgba(255, 255, 255, 0.123);
    color: rgb(196, 129, 41);
}

.config .feedback:hover .bxs-megaphone {
    color: rgb(196, 129, 41);
}

.config .modoNoturno {
    position: relative;
    bottom: -150px;
    left: 10px;
}

.bx-log-out {
    font-size: 20px;
    position: absolute;
    top: 5px;
    left: 3px;
}

.config .logOut {
    color: white;
    text-decoration: none;
    position: relative;
    left: 126px;
    bottom: -150px;
    border-radius: 5px;
    padding: 5px 10px 5px 29px;
    font-weight: 600;
    font-size: 15px;
    transition: 0.5s all ease;
    
}

.config .logOut:hover {
    background-color: rgba(214, 18, 18, 0.575);
}

.darkMode {
    display: inline-block;
    position: absolute;
    bottom: 4px;
    left: 15px;
    font-size: 24px;
    cursor: pointer;
    padding: 1px 6px 0px 6px;
    border-radius: 50%;
    color: white;
    background-color: rgba(128, 128, 128, 0.356);
    transition: 0.5s all ease;
}

.darkMode:hover {
    background-color: rgba(128, 128, 128, 0.425);
    color: rgba(0, 0, 0, 0.767);
}

#darkMode {
    display: none;
}

.slide {
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 90px;
    height: 3px;
    border-radius: 8px;
    background-color: var(--cor-2);
    z-index: 1;
    transition: all .5s ease;
    animation: 1s ease 0s normal forwards 1 delayNav;
}

@keyframes delayNav{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

ul li:nth-child(1).active ~ .slide {
    left: 37px;
    opacity: 0;
    background-color: red;
}

ul li:nth-child(2).active ~ .slide {
    left: 150px;
    opacity: 1;
}
ul li:nth-child(3).active ~ .slide {
    width: 143px;
    left: 264px;
    opacity: 1;
}
ul li:nth-child(4).active ~ .slide {
    width: 110px;
    left: 437px;
    opacity: 1;
}
ul li:nth-child(5).activePerfil ~ .slide {
    width: 130px;
    left: 570px;
    opacity: 0;
}