.config.activeConfig {
    position: fixed;
    right: 20px;
    top: 70px;
    opacity: 1;
    transition: 0.2s all ease;
}

.config {
    position: absolute;
    right: -250px;
    top: -20px;
    width: 240px;
    height: 400px;
    border-radius: 8px 0px 8px 0px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.233);
    z-index: 3;
    background-color: var(--cor-3);
    transition: 0.5s all ease;
    opacity: 0;
}

.config.activeConfig .bx-chevron-right {
    animation: 1s ease 0s normal forwards 1 delayNav;
}

.bx-chevron-right {
    position: relative;
    left: -40px;
    top: 5px;
    font-size: 30px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    background-color: rgba(31, 182, 94, 0.432);
    transition: 0.3s all ease;
}

.bx-chevron-right:hover {
    background-color: rgba(31, 182, 94, 0.89);
}

.config .imgPerfil {
    border-radius: 50%;
    width: 90px;
    display: inline-block;
}

.config .linkPerfil {
    position: absolute;
    top: 8px;
    padding: 8px 61px;
    border-radius: 8px 0px 0px 0px;
    background-color: transparent;
    text-decoration: none;
    transition: 0.1s all ease;
    color: white;
    font-weight: 700;
    text-align: center;
}

.config .linkPerfil:hover {
    color: rgba(24, 215, 240, 0.788);
}

.config .bx-palette {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 25px;
    color: white;
    font-size: 23px;
    transition: 0.1s all ease;
}

.config .linkTema {
    display: inline-block;
    position: relative;
    top: 132px;
    padding: 8px 102px 8px 83px;
    background-color: transparent;
    text-decoration: none;
    transition: 0.1s all ease;
    color: white;
    font-weight: 600;
}

.config .linkTema:hover {
    background-color: rgba(255, 255, 255, 0.123);
    color: rgb(212, 74, 143);
}

.linkTema:hover .bx-palette {
    color: rgb(212, 74, 143);
}

.config .bxs-megaphone {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 25px;
    color: white;
    font-size: 23px;
    transition: 0.1s all ease;
}

.config .feedback {
    display: inline-block;
    position: relative;
    top: 135px;
    padding: 8px 77px 8px 83px;
    background-color: transparent;
    text-decoration: none;
    transition: 0.1s all ease;
    color: white;
    font-weight: 600;
}

.config .feedback:hover {
    background-color: rgba(255, 255, 255, 0.123);
    color: rgb(196, 129, 41);
}

.config .feedback:hover .bxs-megaphone {
    color: rgb(196, 129, 41);
}

.config .bx-trash {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 25px;
    color: white;
    font-size: 23px;
    transition: 0.1s all ease;
}

.config .lixeira {
    display: inline-block;
    position: relative;
    top: 138px;
    padding: 8px 105px 8px 83px;
    background-color: transparent;
    text-decoration: none;
    transition: 0.1s all ease;
    color: white;
    font-weight: 600;
}

.config .lixeira:hover {
    background-color: rgba(255, 255, 255, 0.123);
    color: rgb(146, 17, 17);
}

.config .lixeira:hover .bx-trash {
    color: rgb(146, 17, 17);
}

.bx-user {
    display: inline-block;
    position: absolute;
    bottom: 9px;
    left: 25px;
    color: white;
    font-size: 23px;
    transition: 0.1s all ease;
}

.config .linkAdmin {
    display: inline-block;
    position: relative;
    top: 140px;
    padding: 8px 86px 8px 83px;
    background-color: transparent;
    text-decoration: none;
    transition: 0.1s all ease;
    color: white;
    font-weight: 600;
}

.config .linkAdmin:hover {
    background-color: rgba(255, 255, 255, 0.123);
    color: rgb(25, 185, 47);
}

.config .linkAdmin:hover .bx-user {
    color: rgb(25, 185, 47);
}

.config.activeConfig .underline::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 80%;
    bottom: 70px;
    left: 22px;
    transform: scale(1);
    transition: all .3s ease-in-out;
    animation: linhaCor 2s ease-in infinite;
}

@keyframes linhaCor {
    0% {background: linear-gradient(to right, #167464f8, #1aad95f6, #1aad95f6, #167464f8); }
    5% {background: linear-gradient(to right, #167464f8, #19b399f6, #19b399f6, #167464f8); }
    10% {background: linear-gradient(to right, #167464f8, #18b99ef6, #18b99ef6, #167464f8); }
    15% {background: linear-gradient(to right, #167464f8, #17c0a4f6, #17c0a4f6, #167464f8); }
    20% {background: linear-gradient(to right, #167464f8, #15c5a8f6, #15c5a8f6, #167464f8); }
    25% {background: linear-gradient(to right, #167464f8, #15cfb0f6, #15cfb0f6, #167464f8); }
    30% {background: linear-gradient(to right, #167464f8, #13d6b6f6, #13d6b6f6, #167464f8); }
    35% {background: linear-gradient(to right, #167464f8, #11ddbbf6, #11ddbbf6, #167464f8); }
    40% {background: linear-gradient(to right, #167464f8, #10e2bff6, #10e2bff6, #167464f8); }
    45% {background: linear-gradient(to right, #167464f8, #0eebc6f6, #0eebc6f6, #167464f8); }
    50% {background: linear-gradient(to right, #167464f8, #05f8d0f6, #05f8d0f6, #167464f8); }
    55% {background: linear-gradient(to right, #167464f8, #0eebc6f6, #0eebc6f6, #167464f8); }
    60% {background: linear-gradient(to right, #167464f8, #10e2bff6, #10e2bff6, #167464f8); }
    65% {background: linear-gradient(to right, #167464f8, #11ddbbf6, #11ddbbf6, #167464f8); }
    70% {background: linear-gradient(to right, #167464f8, #13d6b6f6, #13d6b6f6, #167464f8); }
    75% {background: linear-gradient(to right, #167464f8, #15cfb0f6, #15cfb0f6, #167464f8); }
    80% {background: linear-gradient(to right, #167464f8, #15c5a8f6, #15c5a8f6, #167464f8); }
    85% {background: linear-gradient(to right, #167464f8, #17c0a4f6, #17c0a4f6, #167464f8); }
    90% {background: linear-gradient(to right, #167464f8, #18b99ef6, #18b99ef6, #167464f8); }
    95% {background: linear-gradient(to right, #167464f8, #19b399f6, #19b399f6, #167464f8); }
    100% {background: linear-gradient(to right, #167464f8, #1aad95f6, #1aad95f6, #167464f8); }
}

.config .logOut {
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 9px;
    right: 8px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    font-weight: 600;
    transition: 0.5s all ease;
}

.config .logOut:hover {
    background-color: rgba(214, 18, 18, 0.575);
}