/* .navListTrash {
    position: absolute;
    left: -113px;
    top: 55px;
    width: 280px;
    min-height: 360px;
    border: 2px solid var(--cor-2);
    border-radius: 8px;
    box-shadow: 2px 2px 3px #00000030;
} */

/* .navListTrash h1 {
    margin: 30px 100px 7px 100px;
    font-size: 1.6em;
}

.navListTrash hr {
    margin: 0px 0px 35px 40px;
    height: 2px;
    width: 70%;
    border: none;
    border-radius: 8px;
    background-color: var(--cor-2);
}

.navListTrash ul li .bx-edit {
    position: relative;
    right: 20px;
    top: 6px;
    margin-right: 13px;
    font-size: 28px;
    color: var(--cor-3);
    animation: none;
}
.navListTrash ul li .bx-line-chart {
    position: relative;
    right: 20px;
    top: 6px;
    margin-right: 13px;
    font-size: 28px;
    color: var(--cor-3);
    animation: none;
}
.navListTrash ul li .bx-customize {
    position: relative;
    right: 20px;
    bottom: -6px;
    margin-right: 10px;
    font-size: 28px;
    color: var(--cor-3);
} */

/* .navListTrash ul li {
    position: relative;
    text-align: left;
    line-height: 50px;
    padding-left: 55px;
    font-size: 1.2em;
    font-weight: 600;
    color: var(--cor-3);
    cursor: pointer;
    transition: 0.5s all ease;
    z-index: 0;
} */

/* .navListTrash ul li:nth-child(1).activeListTrash .bx-edit{
    color: var(--cor-2);
}
.navListTrash ul li:nth-child(2).activeListTrash .bx-line-chart{
    color: var(--cor-2);
}
.navListTrash ul li:nth-child(3).activeListTrash .bx-customize{
    color: var(--cor-2);
} */

.navTrash ul li:nth-child(1).activeListTrash {
    color: var(--cor-2);
}
.navTrash ul li:nth-child(2).activeListTrash {
    color: var(--cor-2);
}
.navTrash ul li:nth-child(3).activeListTrash {
    color: var(--cor-2);
}

.navTrash ul li:nth-child(3) span {
    position: relative;
}

.navTrash ul li:nth-child(3) span i {
    position: absolute;
    top: -2px;
    font-size: 28px;
}

.navTrash ul li:nth-child(3) ul {
    display: none;
    position: absolute;
    left: 53px;
    width: 317px;
    font-size: 14px;
    background-color: hsla(170, 56%, 61%, 0.741);
    border-radius: 6px 0px 6px 6px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.178);
    transition: all 0.3s ease;
}

.navTrash ul li:nth-child(3) ul li {
    position: relative;
    left: 0;
    max-width: 110px;
    line-height: 35px;
    padding: 5px;
}

.navTrash ul li:nth-child(3) ul li a {
    margin: 0;
}

.navTrash ul li:nth-child(3):hover ul a {
    
}

.navTrash ul li:nth-child(3):hover ul {
    display: flex;
}

.iconeGrande .bx-trash {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 40px;
    text-decoration: none;
    color: var(--cor-2);
    transition: all .5s ease;
    animation: icone 5s infinite;
}

.nameTrash {
    font-size: 19px;
    font-weight: 700;
    color: var(--cor-3);
}

#cardMetasTrash {
    display: none;
}

.trashsNotes {
    position: relative;
    margin-bottom: 30px;
}

.trashsMetas {
    position: relative;
    margin-bottom: 30px;
}

#tituloTrash {
    display: inline-block;
    font-weight: 600;
    color: var(--cor-2);
}

#conteudoTrash {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    color: rgb(80, 80, 80);
}