.iconeGrande .bx-trash {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 40px;
    text-decoration: none;
    color: var(--cor-2);
    transition: all .5s ease;
    animation: icone 5s infinite;
}

.cleanTrash {
    margin-bottom: 90px;
}

.trashsNotes {
    position: relative;
}

.trashsMetas {
    position: relative;
}

#tituloTrash {
    display: inline-block;
    font-weight: 600;
    color: var(--cor-2);
}

#conteudoTrash {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    color: rgb(80, 80, 80);
}