    <footer>
        <div class="setaParaCima" data-seta="bottom" onclick="window.scrollTo({top: 0, left: 0, behavior: 'smooth' })">
            <i class='bx bxs-chevron-up'></i>
        </div>


        <div class="footerConteudo">
            <div class="footerDivEsquerda">
                <h1><span><i class='bx bx-notepad'></i></span>GN</h1>
                <h6>AGENCY</h6>
                <p>Wheney Square, North Loop</p>
                <p>21d N 2nd St #070</p>
                <p>Porto Seguro, BA 45810</p>
                <p>(73) 9 9848-6884</p>
                <p>MAP / DIRECTIONS</p>
            </div>
            <div class="linhaVertical">

            </div>
            <div class="footerDivMeio">
                <h4>SITEMAP</h4>
                <a href="/home">Anotações</a>
                <a href="/metas">Metas</a>
                <a href="/outros">Outros Tipos</a>
                <a href="/perfil">Perfil</a>
                <a href="/lixeira">Lixeira</a>
                <a href="/feedback">Feedback</a>
                <a href="/temas">Temas</a>
            </div>
            
            <div class="footerDivDireita">
                <a href="https://github.com/GabrielAguiarDev" target="_blank">
                    <label for="github" class="labelIcone">GITHUB</label>
                    <i class='bx bxl-github' id="github"></i>
                </a>
                <a href="https://www.instagram.com/devgabrielaguiar/" target="_blank">
                    <label for="instagram" class="labelIcone">INSTAGRAM</label>
                    <i class='bx bxl-instagram'></i>
                </a>
                <a href="https://api.whatsapp.com/send?phone=5573998486884&text=Ol%C3%A1%2C%20Gostaria%20de%20falar%20um%20pouco%20com%20voc%C3%AA%20sobre%20seu%20trabalho." target="_blank">
                    <label for="whatsapp" class="labelIcone">WHATSAPP</label>
                    <i class='bx bxl-whatsapp'></i>
                </a>

                <div class="footerParedeIcones">
                    <hr>
                </div>
            </div>
            <div class="footerDivBaixo">
                <hr>
                &copy; 2022 GN Agency / All rights reserved / Privacy
                <span class="developer">Developer Gabriel Aguiar</span>
            </div>

        </div>






        <script src="js/nav.js"></script>
        <script src="js/darkMode.js"></script>
        <script src="js/trashList.js"></script>
        <script src="js/display.js"></script>
        <script src="js/admin.js"></script>
        <script src="js/scroll.js"></script>
        <script src="js/clicarFora.js"></script>
        <script src="js/btn/addNote.js"></script>
        <script src="js/btn/addMeta.js"></script>
        <script src="js/btn/editNote.js"></script>
        <script src="js/btn/editMeta.js"></script>
    </footer>

</body>
</html>