    <footer>
        <div class="setaParaCima" onclick="window.scrollTo({top: 0, left: 0, behavior: 'smooth' })">
            <i class='bx bxs-chevron-up'></i>
        </div>
        <div class="developer">
            <h4>Developer Gabriel Aguiar&copy;</h4>
        </div>
        <script src="js/nav.js"></script>
        <script src="js/darkMode.js"></script>
        <script src="js/trashList.js"></script>
        <script src="js/display.js"></script>
        <script src="js/admin.js"></script>
        <script src="js/scroll.js"></script>
        <script src="js/clicarFora.js"></script>
        <script src="js/btn/addNote.js"></script>
        <script src="js/btn/addMeta.js"></script>
        <script src="js/btn/editNote.js"></script>
        <script src="js/btn/editMeta.js"></script>
    </footer>

</body>
</html>