    <footer>
        <div class="developer">
            <h4>Developer Gabriel Aguiar&copy;</h4>
        </div>
        <script src="js/nav.js"></script>
        <script src="js/darkMode.js"></script>
        <script src="js/trashList.js"></script>
        <script src="js/display.js"></script>
        <script src="js/admin.js"></script>
        <script src="js/clicarFora.js"></script>
    </footer>

</body>
</html>