    <footer>
        <div class="setaParaCima" onclick="window.scrollTo({top: 0, left: 0, behavior: 'smooth' })">
            <i class='bx bxs-chevron-up'></i>
        </div>


        <div class="footerConteudo">
            <div class="footerDivEsquerda">
                <h1><span><i class='bx bx-notepad'></i></span>GN</h1>
                <h6>AGENCY</h6>
                <p>Wheney Square, North Loop</p>
                <p>21d N 2nd St #070</p>
                <p>Porto Seguro, BA 45810</p>
                <p>(73) 9 9848-6884</p>
                <p>MAP / DIRECTIONS</p>
            </div>
            <div class="linhaVertical">

            </div>
            <div class="footerDivMeio">
                <h4>SITEMAP</h4>
                <p>Home</p>
                <p>Web Design Portifólio</p>
                <p>All Services</p>
                <p>Digital Marketing Blog</p>
                <p>About Us</p>
                <p>Confect Us</p>
            </div>
            
            <div class="footerDivDireita">
                <a href="#"><i class='bx bxl-github'></i></a>
                <a href="#"><i class='bx bxl-instagram'></i></a>
                <a href="#"><i class='bx bxl-whatsapp'></i></a>
                <div class="footerParedeIcones">
                    <hr>
                </div>
            </div>
            <div class="footerDivBaixo">
                <hr>
                &copy; 2022 GN Agency / All rights reserved / Privacy
            </div>

        </div>






        <script src="js/nav.js"></script>
        <script src="js/darkMode.js"></script>
        <script src="js/trashList.js"></script>
        <script src="js/display.js"></script>
        <script src="js/admin.js"></script>
        <script src="js/scroll.js"></script>
        <script src="js/clicarFora.js"></script>
        <script src="js/btn/addNote.js"></script>
        <script src="js/btn/addMeta.js"></script>
        <script src="js/btn/editNote.js"></script>
        <script src="js/btn/editMeta.js"></script>
    </footer>

</body>
</html>