<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anotações Web</title>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/body.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    
</head>
<body>
    <header>
        <h1 class="logo">Anotações Web</h1>
            <ul>
                <% if(user.eAdmin == 1){ %>
                    <li><a href="/admin">Clientes</a></li>
                <% } %>
                <li><a href="/outros">Outros</a></li>
                <li><a href="/metas">Minhas Metas</a></li>
                <li class="active"><a href="/home">Tarefas Diárias</a></li>
                <li><a href="/perfil"> <%= user.nome %>  </a></li>
                <li class="slide"></li>

                
                <!-- Possível solução para o problema com o nav.active
                <li <% if (page_name === 'about') { %>class="current" <% } %> ><a href="/about">About</a></li> -->

            </ul>
    </header>