<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anotações Web</title>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/body.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    <script src="js/navBar.js"></script>
    
</head>
<body>
    <header>
        <h1 class="logo">Anotações Web</h1>
            <ul class="nav">
                <% if(user.eAdmin == 1){ %>
                    <li <% if (page_name === 'admin') { %>class="active" <% } %>><a href="/admin" class="clientes">Clientes</a></li>
                <% } %>
                <li <% if (page_name === 'outros') { %>class="active" <% } %>><a href="/outros" class="outros">Outros</a></li>
                <li <% if (page_name === 'metas' || page_name === 'criarMeta') { %>class="active" <% } %>><a href="/metas" class="metas">Minhas Metas</a></li>
                <li <% if (page_name === 'home' || page_name === 'postagem') { %>class="active" <% } %>><a href="/home" class="anotacoes">Anotações</a></li>
                <li <% if (page_name === 'perfil') { %>class="activePerfil" <% } %>> <h4 class="perfil"> <%= user.nome %> </h4> </li>
                <li class="slide"></li>
            </ul>
            <div class="config">
                <a href="/perfil" class="linkPerfil"><img class="imgPerfil" src="img/imagem_lulamolusco.jpg" alt="Imagem de perfil do Lula Molusco"> <%= user.usuario %> </a>
                <i class='bx bx-chevron-right'></i>
                <a href="#" class="linkTema"><i class='bx bx-palette'></i> Temas</a>
                <a href="#" class="feedback"><i class='bx bxs-megaphone'></i> Feedback</a>
                <label for="darkMode" class="darkMode"><i class='bx bxs-moon'></i></label>
                <input type="checkbox" name="darkMode" id="darkMode">
                <a href="/logout" class="logOut"><i class='bx bx-log-out'></i> Sair</a>
            </div>
    </header>