<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anotações Web</title>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/body.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
    
</head>
<body>
    <header>
        <h1 class="logo">Anotações Web</h1>
            <nav class="nav">
                <a href="#">Outros</a>
                <a href="#">Minhas Metas</a>
                <a class="active" href="./auth/home">Tarefas Diárias</a>
                <a href="#"> <%- nome %>  </a>
            </nav>
    </header>