<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anotações Web</title>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="css/header.css">
    <link rel="stylesheet" type="text/css" href="css/menu.css">
    <link rel="stylesheet" type="text/css" href="css/darkMode.css">
    <link rel="stylesheet" type="text/css" href="css/body.css">
    <link rel="stylesheet" type="text/css" href="css/clientes.css">
    <link rel="stylesheet" type="text/css" href="css/perfil.css">
    <link rel="stylesheet" type="text/css" href="css/trash.css">
    <link rel="stylesheet" type="text/css" href="css/editNote.css">
    <link rel="stylesheet" type="text/css" href="css/editMeta.css">
    <link rel="stylesheet" type="text/css" href="css/footer.css">
</head>
<body>
    <header>
        <h1 class="logo">Anotações Web</h1>
            <ul class="nav">
                <li <% if (page_name === 'outros') { %>class="active" <% } %>>
                    <a href="/outros" class="outros"><i class='bx bx-customize'></i> Outros <div class="underline"></div></a>
                </li>
                <li <% if (page_name === 'metas') { %>class="active" <% } %>>
                    <a href="/metas" class="metas"><i class='bx bx-line-chart'></i> Metas <div class="underline"></div></a>
                </li>
                <li <% if (page_name === 'home') { %>class="active" <% } %>>
                    <a href="/home" class="anotacoes"><i class='bx bx-edit'></i> Anotações <div class="underline"></div></a>
                </li>
                <li <% if (page_name === 'perfil') { %> class="activePerfil" <% } %>> <h4 class="perfil"><i class='bx bx-user-pin'></i> <%= user.nome %> <div class="underline"></div></h4>
                </li>
            </ul>
    </header>