<div class="config">
    <a href="/perfil/<%= user.usuario %>" class="linkPerfil"><img class="imgPerfil" src="/img/imagem_lulamolusco.jpg" alt="Imagem de perfil do Lula Molusco"><%= user.usuario %></a>
    <i class='bx bx-chevron-right'></i>
    <a href="/temas" class="linkTema"><i class='bx bx-palette'></i> Temas</a>
    <a href="/feedback" class="feedback"><i class='bx bxs-megaphone'></i> Feedback</a>
    <a href="/lixeira" class="lixeira"><i class='bx bx-trash'></i> Lixeira</a>
    <% if(user) { %> 
        <% if(user.eAdmin){ %>
            <a href="/admin/<%= user.usuario %>" 
            class="linkAdmin"><i class='bx bx-user'></i> Usuários</a>
        <% } else { %>
            <div class="underline"></div>
        <% } %>
    <% } %> 
    <div class="btnDark">
        <div id="exibirBtnTema"></div>
        <button onclick="tema('light'), exibirLight('exibirBtnTema')" type="button" id="btnTemaLight"><i class='bx bxs-sun'></i></button>
        <button onclick="tema('dark'), exibirDark('exibirBtnTema')" type="button" id="btnTemaDark"><i class='bx bxs-moon'></i></button>
    </div>
    <a href="/logout" class="logOut"><i class='bx bx-log-out'></i> Sair</a>
</div>