<%- include('../include/header') %>
<%- include('../include/navbar') %>

<main>
    <div class="divFeedback">
        <form action="/feedback" method="post">
            <h1>Feedback</h1>
            <hr>
            <i class='bx bxs-megaphone'></i>
            <h4>Seu Email: <span><%= user.email %></span></h4>
            <textarea name="textarea" id="textarea" class="textarea" cols="30" rows="10" placeholder="Seu Feedback aqui..."></textarea>
            <button class="enviarFeedback" type="submit">Enviar</button>
        </form>
        <div class="divFeedbackDireita">
            <h1>Nos dê seu Feedback !</h1>
            <div class="indicacoesFeedback">
                <p><i class='bx bx-check'></i>Fale sobre a sua experiência com o site</p>
                <p><i class='bx bx-check'></i>Fale sobre o design do site</l>
                <p><i class='bx bx-check'></i>Fale sobre as funções do site</p>
                <p><i class='bx bx-check'></i>Fique a vontade para abordar qualquer assunto e até uma reclamação</p>
            </div>
            <p class="footerDivFeedback">Seu Feedback nos ajuda a melhorar o site, não deixe de opinar <span class="emojiFeedback">&#x2764;</span></p> 
        </div>
    </div>
</main>

<%- include('../include/footer') %>