<%- include('../include/header') %>
<%- include('../include/navbar') %>

<main>
    <h1>Aqui o usuario vai escolher o tipo de anotações</h1>
    <p>ex: senhas, email, links, textos, até imagem se possível</p>
</main>

<%- include('../include/footer') %>