<%- include('../include/header') %>
<%- include('../include/navbar') %>

<main>
    <h1>Página Códigos</h1>
    <p>Servirá para guardar códigos de varias linguagens e com formatação</p>
</main>

<%- include('../include/footer') %>