<%- include('../include/header') %>
<%- include('../include/navbar') %>

<main>
    <h1>Página Lembretes</h1>
    <p>Servirá para adicionar lembretes onde a aplicação enviará uma notificação avisando por meio de uma API</p>
</main>

<%- include('../include/footer') %>