<%- include('../include/header') %>
<%- include('../include/navbar') %>

<main>
    <h1>Página Links</h1>
    <p>Servirá para guardar links com títulos para melhor identificação</p>
</main>

<%- include('../include/footer') %>