<%- include('../include/header') %>
<%- include('../include/navbar') %>

<main>
    <h1>Página listas</h1>
    <p>Servirá para guardar listas, como listas de compras, lista de afazeres e outros.</p>
</main>

<%- include('../include/footer') %>