<%- include('../include/header') %>
<%- include('../include/navbar') %>

<div class="telaLight">
    <h1>Temas Light</h1>
    <div class="temasLight">
        <div class="temaPadrao">
            <h2>Tema Padrão</h2>
            <i class='bx bxs-circle'></i>
            <i class='bx bxs-circle'></i>
            <i class='bx bxs-circle'></i>
        </div>
        <div class="tema1">
            <h2>Pink</h2>
            <i class='bx bxs-circle'></i>
            <i class='bx bxs-circle'></i>
            <i class='bx bxs-circle'></i>
        </div>
        <div class="tema2">
            <h2>Blue</h2>
            <i class='bx bxs-circle'></i>
            <i class='bx bxs-circle'></i>
            <i class='bx bxs-circle'></i>
        </div>
        <div class="tema3">
            <h2>Red</h2>
            <i class='bx bxs-circle'></i>
            <i class='bx bxs-circle'></i>
            <i class='bx bxs-circle'></i>
        </div>
    </div>
</div>
<div class="telaDark">
    <h1>Temas Dark</h1>
    <div class="temasDark">
        <div class="temaPadrao">
            <h2>Tema Padrão</h2>
            <i class='bx bxs-circle'></i>
            <i class='bx bxs-circle'></i>
            <i class='bx bxs-circle'></i>
        </div>
        <div class="tema1">
            <h2>Pink Dark</h2>
            <i class='bx bxs-circle'></i>
            <i class='bx bxs-circle'></i>
            <i class='bx bxs-circle'></i>
        </div>
        <div class="tema2">
            <h2>Blue Dark</h2>
            <i class='bx bxs-circle'></i>
            <i class='bx bxs-circle'></i>
            <i class='bx bxs-circle'></i>
        </div>
        <div class="tema3">
            <h2>Red Dark</h2>
            <i class='bx bxs-circle'></i>
            <i class='bx bxs-circle'></i>
            <i class='bx bxs-circle'></i>
        </div>
    </div>
</div>

<%- include('../include/footer') %>