<%- include('../include/header') %>
<%- include('../include/navbar') %>

<main>
    <h1>Página Textos</h1>
    <p>Servirá para guardar textos grandes, tais como, redação, publicações, citações, artigos, e etc...</p>
</main>

<%- include('../include/footer') %>